*{
    box-sizing: border-box;
}

.App{
    width: 100%;
    height: 100%;
    /* border: 5px solid black; */
    /* border-radius: 50px; */
    position: absolute;
}

.header{
    width: 100%;
    height: 10%;
    background: gray;
    position: absolute;
    bottom: 0;
    padding: 0;
    top: 0%;
}

.footer{
    width: 100%;
    height: 10%;
    background: gray;
    position: absolute;
    bottom: 0;
    padding: 0;
}

.input-chat{
    width: 80%;
    height: 100%;
    position: absolute;
    font-size: 5vh;
    padding: 0;
}

.send-button{
    background: green;
    width: 20%;
    height: 100%;
    right: 0%;
    position: absolute;
    border: 5px solid black;
}

.logo{
    width: 30%;
    height:100%;
    position: absolute;
    font-size: 10vh;
}

.search-button{
    position: absolute;
    right: 0%;
    width: 30%;
    height:100%;
    border: 5px solid black;
    background: aqua;
}
.leave-button{
    position: absolute;
    right: 0%;
    width: 30%;
    height:100%;
    border: 5px solid black;
    background: lightcoral;
}

.search-button-text{
    position: absolute;
    text-align: center;
    left: 4vmax;
    top: 1vh;
    font-size: 5vmin;
}

.chat-view{
    position: absolute;
    top:10%;
    width: 100%;
    height: 80%;
    background: pink;
    overflow: scroll;
}

.chat-view > .chat-line{
    font-size: 3vh;
}
